<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>환율 계산</title>
</head>
<body>
<h1>환율 계산</h1>
<table>
    <tr>
        <td>
            송금국가 :
        </td>
        <td>
            미국 : (USD)
        </td>
    </tr>
    <tr>
        <td>
            수취국가 :
        </td>
        <td>
            <select id="select-box">
                <option>한국(KRW)</option>
                <option>일본(JPY)</option>
                <option>필리핀(PHP)</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            송금액
        </td>
        <td>
            <input type="text" id="input"> USD
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" id="button">Submit</button>
        </td>
    </tr>
</table>
</body>
</html>